amqp
asgiref
autopep8
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coreapi
coreschema
cryptography
defusedxml
deprecated
dj-database-url
django
django-cors-headers
django-debug-toolbar
django-filter
django-redis
django-silk
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-nested-routers
flower
gprof2dot
gunicorn
humanize
idna
itypes
jinja2
kombu
markupsafe
mysqlclient
oauthlib
pillow
prometheus-client
prompt-toolkit
pycodestyle
pycparser
pygments
pyjwt
python-dateutil
python3-openid
pytz
redis
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
toml
tornado
uritemplate
urllib3
vine
wcwidth
whitenoise
wrapt
attrs
brotli
colorama
configargparse
docopt
flask
flask-basicauth
flask-cors
gevent
geventhttpclient
greenlet
iniconfig
itsdangerous
locust
model-bakery
msgpack
packaging
pluggy
psutil
py
pyparsing
pytest
pytest-django
pytest-watch
pyzmq
roundrobin
typing-extensions
watchdog
werkzeug
zope.event
zope.interface